<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>br.com.marcaflow.monitor-rpi</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/alexandregomesdacosta/Documents/Projetos_DEV/MarcaFlow/rodar_monitoramento.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/alexandregomesdacosta/Documents/Projetos_DEV/MarcaFlow</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>2</integer>
      <key>Hour</key>
      <integer>11</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/alexandregomesdacosta/Documents/Projetos_DEV/MarcaFlow/relatorios/monitor-rpi.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/alexandregomesdacosta/Documents/Projetos_DEV/MarcaFlow/relatorios/monitor-rpi-error.log</string>
  </dict>
</plist>
